@font-face {
  font-family: 'Code Light';
  src: url('CODE Light.eot'); /* IE9 Compat Modes */
  src: url('CODE Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CODE Light.woff') format('woff'), /* Modern Browsers */
       url('CODE Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CODE Light.svg#df838d10753ef83b07b73ceb962b3ea2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('Courier Prime.eot'); /* IE9 Compat Modes */
  src: url('Courier Prime.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Courier Prime.woff') format('woff'), /* Modern Browsers */
       url('Courier Prime.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Courier Prime.svg#ee4ecf45b21a1ec47dfe629190a1712b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Glober SemiBold Free';
  src: url('Glober SemiBold Free.eot'); /* IE9 Compat Modes */
  src: url('Glober SemiBold Free.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Glober SemiBold Free.woff') format('woff'), /* Modern Browsers */
       url('Glober SemiBold Free.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Glober SemiBold Free.svg#4961777f2e19d02da24a7e0282764278') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Glober Thin Free';
  src: url('Glober Thin Free.eot'); /* IE9 Compat Modes */
  src: url('Glober Thin Free.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Glober Thin Free.woff') format('woff'), /* Modern Browsers */
       url('Glober Thin Free.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Glober Thin Free.svg#bd7cb5854f8ead98016f7aec6d418b2a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'KozGoPr6N-ExtraLight-AlphaNum';
  src: url('KozGoPr6N-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('KozGoPr6N-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('KozGoPr6N-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('KozGoPr6N-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('KozGoPr6N-ExtraLight.svg#36cf4e49e31139f074413d0a2ed397b6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'KozGoPr6N-Light-AlphaNum';
  src: url('KozGoPr6N-Light.eot'); /* IE9 Compat Modes */
  src: url('KozGoPr6N-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('KozGoPr6N-Light.woff') format('woff'), /* Modern Browsers */
       url('KozGoPr6N-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('KozGoPr6N-Light.svg#d801aefe386bf74b4b3832ed0345cd73') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Homizio Nova';
  src: url('light.eot'); /* IE9 Compat Modes */
  src: url('light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('light.woff') format('woff'), /* Modern Browsers */
       url('light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('light.svg#2f48729b1699d761fb21759b5bf130ac') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Oranienbaum';
  src: url('Oranienbaum.eot'); /* IE9 Compat Modes */
  src: url('Oranienbaum.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Oranienbaum.woff') format('woff'), /* Modern Browsers */
       url('Oranienbaum.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Oranienbaum.svg#e1739f6923cf46e8e6104d5e0056a7f0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Homizio Nova';
  src: url('regular.eot'); /* IE9 Compat Modes */
  src: url('regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('regular.woff') format('woff'), /* Modern Browsers */
       url('regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('regular.svg#c985caafe7a1a5ca86df7ab323d31d72') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

