<div class="vid-container <%= "#{media[:width]}" %>">
  <div class="video">
    <div class="video-wrapper">
      <iframe allowfullscreen frameborder="0" height="440" src="https://www.youtube.com/embed/<%= "#{path}" %>" width="100%"></iframe>
    </div>
  </div>
</div>
