body.site.contact {
  footer {
    bottom: 0;
  }
  section.contact {
    margin-top: 4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    a {
      display: flex;
      &:hover {
        svg.contact-icon, svg.contact-icon.outer {
          animation-play-state: running;
        }
      }
    }
  }
  .contact-icon.linkedin {
    animation: change-color-contact-linkedin 10s cubic-bezier(.17,.67,.83,.67) infinite;
    animation-play-state: paused;
    animation-direction: alternate;
  }
  .contact-icon.email {
    animation: change-color-contact-email 10s cubic-bezier(.17,.67,.83,.67) infinite;
    animation-play-state: paused;
    animation-direction: alternate;
  }
  .contact-icon.github {
    animation: change-color-contact-github 10s cubic-bezier(.17,.67,.83,.67) infinite;
    animation-play-state: paused;
    animation-direction: alternate;
  }
  svg.contact-icon {
    height: 250px;
    align-self: center;

  }
  svg.contact-icon.outer {
    animation: change-color-contact-email-outer 10s cubic-bezier(.17,.67,.83,.67) infinite;
    animation-play-state: paused;
    animation-direction: alternate;

  }
}
