body.gallery {
  section#media-container {
    flex-flow: row wrap;
  }
  figure {
    height: 300px;
    width: 300px
  }
  iframe {
    height: 300px;
    width:300px;
  }

  @include breakpoint(large) {
    section#media-container {
      flex-flow: row wrap;
    }
    iframe {
      height: 440px;
      width: 100%;
    }
    figure {
      height: 440px;
    }
    .half {
      flex: 0 1 50%;
    }
    .quarter {
      flex: 0 1 25%;
    }
    .third {
      flex: 0 1 33.333333%;
    }
  }
  section.media-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 0 2em;
    padding-bottom: 3em;

    $media: camcos1, camcos2, camcos3, ic3, apicon, pearson5, workshop, pearson1, pearson4, pearson3, pearson2, hsevent, pinger, awards2, awards3, awards1;
    @each $medium in $media {

      // look for element with id of path so i when i change order
      // i only have to change in one place
      #{'figure#' + $medium} {
        background-image: url(asset-path("photos/#{$medium}"));
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }

}
