a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
html, body {
  height: 100%;
}
body {
  background: url(asset-path('cream-dust.png'));
  color: #333;
  margin: 0;
  position: relative;
}
nav {
  padding: 2em 0;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: #333;
}

section {
  padding-bottom: 1.8em;
}

////////////////////////////////////////////////////////////////////////////////
// Nav
////////////////////////////////////////////////////////////////////////////////
.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  position: relative;
  margin-top: 4em;
  z-index: 25;
}
.nav-item {
  flex: 0 1 25%;
  text-align: center;
  align-self: center;
  font-family: "homiz";
  font-size: 1.8em;
  transition: color 0.3s;
  position: relative;
}

.nav-item.active,
.nav-item:hover,
.nav-item:focus {
  color: #bbb;
  &:before {
    color: #333;
    text-shadow: 10px 0 #333, -10px 0 #333;
  }
}
.nav-item:before {
  position: absolute;
  top: -20%;
  left: 50%;
  color: transparent;
  content: '.';
  text-shadow: 0 0 transparent;
  font-size: 2em;
  transition: text-shadow 0.3s, color 0.3s;
  transform: translateX(-50%);
  pointer-events: none;
}
a.nav-logo {

  position: absolute;
  width: 50%;
  top: -5em;
  margin-left: 25%;
  margin-right: 25%
}

figure,
.vid-container {
  margin: 0;
  padding: 0;
}

#svg-polygon-outer,
#svg-path-inner {
  animation: change-color-inner 10s cubic-bezier(.17,.67,.83,.67) infinite;
  animation-play-state: paused;
  animation-direction: alternate;
}
#svg-path-outer,
#svg-polygon-inner {
  animation: change-color-outer 10s cubic-bezier(.17,.67,.83,.67) infinite;
  animation-play-state: paused;
  animation-direction: alternate;
}
.nav-logo:hover {
  #svg-polygon-outer,
  #svg-path-inner,
  #svg-path-outer,
  #svg-polygon-inner {
  animation-play-state: running;
}}

////////////////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////////////////
footer {
  height: 1.8em;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  border: solid 1px #C3C2C2;
  background-color: rgba(21, 20, 20, 0.09);
  color: #333;
  margin: 0;
  padding: 0;
  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100%;
  }
  i {
    padding-right: .5em;
  }
  span:nth-of-type(n-1) {
    padding-right: .25em;
  }
  span, i {
    align-self: center;
    font-family: 'courier';
    font-size: 1em;
  }
}
