body.site.home {

  section.home {
    @include display(flex);
    flex-flow: row wrap-reverse;
    justify-content: center;
  }
  svg.gianna-icon {
    height: 300px;
    align-self: center;
  }
  div#dialogue-bubble-container {
    position: relative;
    font-family: 'homiz';
    &:after {
      content: "Hi, I'm Gianna.";
      position: absolute;
      text-align: center;
      font-size: 2em;
      right: 2.3em;
      top: 2.5em;
    }
    &:before {
      top: 8em;
      text-align: center;
      right: 1em;
      line-height: 1.9em;
      font-size: 1em;
      width: 18em;
      position: absolute;
      content: "Welcome to my portfolio/test bed for stuff I think is interesting and want to implement. Thanks for stopping by!";
    }
  }
  i#dialogue-bubble {
    font-size: 20em;
    color: #ddd;

  }
}
