$courier: 'courier';
$glober: 'glober';
$code: 'code';
$oran: 'homiz';
////////////////////////////////////////////////////////////////////////////////
// breakpoint
////////////////////////////////////////////////////////////////////////////////
@mixin breakpoint($point) {

  @if $point == large {
    @media (min-width: 1024px) and (max-width: 1824px) {
      @content;
    }
  }
  @else if $point == medium {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  }
  @else if $point == small {
    @media (min-width: 479px) and (max-width: 767px) {
      @content;
    }
  }
  @else if $point == xsmall {
    @media (min-width: 350px) and (max-width: 766px) {
      @content;
    }
  }
}
