
body.posts,
body.admin.posts {
  @include breakpoint(large) {
    article.post {
      width: 80%;
      margin: 0 0 0 inherit;
      border-radius: 6px;
      border: 1px solid #e7e7e7;
      border-bottom: 1px solid darken(#E7E7E7, 3%);
      .img-container {
        height: 250px;
      }
    }

  }
  @include breakpoint(small) {
    article.post {
      width: 100%;
    }
  }

  // general post css
  article.post {
    margin: 2em auto 2em auto;
    background-color: rgba(255, 255, 255, 0.67);
    position: relative;


    // banner image
    .post-img {
      width: 100%;
    }
    .froala-view {
      margin: 0 auto 3em auto;
      font-size: 1.1em;
      li {
        list-style-type: initial;
      }
      ul {
        padding: 0em 3em;
      }
    }
    h1,
    h2,
    span,
    pre,
    .author {
      font-family: 'homiz';
      letter-spacing: 1px;
    }

    pre {
      white-space: pre-line;
    }

    h1 {
      font-size: 2em;
    }
    .author {
      text-align: center;
    }

    h2 {
      font-size: 1.2em;
      line-height: 28px;

      .date {
        font-family: 'glober-b';
      }
      span:nth-child(2) {
        padding-right: 0.4em;
      }
    }
    p {
      margin: 0;
      text-align: left;
    }
    .img-container {
      height: 200px;
      overflow: hidden;
      border-top-left-radius: 6px; border-top-right-radius: 6px;
    }

    .button_to {
      width: 200px;
      text-align: right;
      right: 0;
      position: absolute;
      top: -40px;
    }

  }

  // post preview css
  .post.preview {

    .button_to {
      top: 160px;
    }
    h1,
    .author {
      text-align: left;
    }
  }
  div.preview-content-container,
  div.content-container {
    padding: 0em 2em;
    position: relative;
  }
}
