body.posts,
body.admin.posts {
  @include breakpoint(large) {
    article.post {
      width: 80%;
      margin: 0 0 0 inherit;
      border-radius: 6px;
      border: 1px solid #e7e7e7;
      border-bottom: 1px solid darken(#E7E7E7, 3%);
      #img-container {
        height: 250px;
      }
    }


  }
  @include breakpoint(small) {
    article.post {
      width: 100%;
    }
  }

  // general post css
  article.post {
    margin: 2em auto 0em auto;
    background-color: rgba(255, 255, 255, 0.67);
    position: relative;

    // banner image
    .post-img {
      width: 100%;
    }
    .body {
      font-family: 'Open Sans';
      margin: 0 auto 3em auto;
      font-size: 1.1em;
      letter-spacing: 1px;
      line-height: 24px;
      li {
        list-style-type: initial;
      }
      ul {
        padding: 0em 3em;
      }
    }
    h1,
    h2,
    pre,
    .author {
      font-family: 'homiz';
      letter-spacing: 1px;
    }

    pre {
      white-space: pre-line;
    }

    h1 {
      font-size: 2em;
    }
    .author {
      text-align: center;
    }

    h2 {
      font-size: 1.2em;
      line-height: 28px;

      .date {
        font-family: 'glober-b';
      }
      span:nth-child(2) {
        padding-right: 0.4em;
      }
    }
    p {
      margin: 0;
      text-align: left;
    }
    .img-container {
      height: 160px;
      overflow: hidden;
      border-top-left-radius: 6px; border-top-right-radius: 6px;
    }

    .button_to {
      width: 200px;
      text-align: right;
      right: 0;
      position: absolute;
      top: -40px;
    }

  }

  // post preview css
  .post.preview {

    .button_to {
      top: 160px;
    }
    h1,
    .author {
      text-align: left;
    }
  }
  div.preview-content-container,
  div.content-container {
    padding: 0em 2em;
    position: relative;
    word-break: break-word;
  }
}

/***********************************************/
/* Embedded Gists                              */
/***********************************************/

.gist {
  overflow: auto;

  .gist-file {
    border: 1px solid #3f4549 !important;
    background-color: #2B2B2B;

    .gist-data {
      border: 0px;
      background-color: inherit;
      .blob-code {
        font-size: 1.25em;
      }
      .highlight {
        background-color: #2B2B2B;
      }
      .blob-code-inner {
        color: #F4F1ED;
        // white-space:normal;
      }
      .blob-num {
        border: 0px;
        background-color: #3f4549;
        color: lighten(#3f4549, 20%);
        font-size: 14px;
      }
      .pl-e, .pl-smi {
        color: #fff;
      }
      .pl-en {
        color: #8fc2ba;
      }
      .pl-c1 {
        color: #81adc9;
      }
      .pl-k {
        color: #af91bd;
      }
      .pl-v {
        color: #f49f5c;
      }
      .pl-sr, .pl-s, .pl-pds {
        color: #b4c978;
      }
      .pl-s1 {
        color: #63ab66;
      }
    }
  }
}

code:not([data-gist-id]) {
  background-color: #f7f7f7;
  border: 1px solid #3f4549;
  padding: 2px 4px 4px;
  font-size: 16px;
  border-radius: 3px;
  white-space: nowrap;
}

/***********************************************/
/* Console                                     */
/***********************************************/

.console {
  padding: 10px;
  white-space: nowrap;
  background: rgba(#000, 0.7);
  font-family: 'Inconsolata';
  border: 1px solid #3f4549;
  color: #d0cfcf;
  border-radius: 5px;
  word-break: normal;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  .g  { color: #b4c978; }
  .gr { color: #97938c; font-style: italic; }
  .p { color: #af91bd; }
  .r { color: #c8484d; }
  .w { color: #ffffff; }
}

div.console { margin: 35px 0px; }
span.console {
  padding: 5px 8px;
  display: inline-block;
  width: auto;
  text-indent: 0px;
  line-height: 14px;
  vertical-align: bottom;
}
