body.site.projects {
  .projects-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2em;
  }
  $projects: camcos1, camcos2, cloudnow2, fixstop, isports, ottos, pearson, stemnow, superpups, supportme;
  @each $project in $projects {

    // look for element with id of path so i when i change order
    // i only have to change in one place
    #{'.project-' + $project} {
      background-image: url("projects/#{$project}");
      background-position: center;
      background-repeat: no-repeat;
      &:hover,
      &:focus {
        figcaption {
          transform: rotate3d(0,1,0, 180deg);
        }
        figure {
          background-image: url("cream-dust");
          background-color: #FAFAFA;
          box-shadow: 0 0 0 0 rgba(255,255,255,0.8), inset 0 0 3px #bbb;


        }
      }
    }
  }

  a.project-link {
    height: 260px;
    width: 260px;
    position: relative;
    border-radius: 50%;
  }
  figcaption {
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
    border-radius: 50%;


  }
    div.front, div.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: block;
    border-radius: 50%;
    background-position: center center;
  }
  div.back {
    transform: rotate3d(0,1,0, 180deg);
    background-color: rgba(51, 51, 51, 0.28);
  }
  figure {
    top: 30px;
    left: 30px;
    position: absolute;
    height: 200px;
    width: 200px;
    perspective: 800px;
    border-radius:50%;
    transition: transform, box-shadow 0.4s ease-in-out;
    box-shadow: 0 0 0 30px rgba(51, 51, 51, 0.5), inset 0 0 3px #333;

    // background-image: url('cream-dust');
    // background-color: #FAFAFA;

  }
}
